body {
    background: #333;
    color: white;
}

.spellbook {
}

.sb-name {
    margin-bottom: .1em;
    border-bottom: solid white 1px;
}

.tooltip {
    position: relative;
}

a {
    color: white;
}

a:hover {
    color: #ddd;
}

a:visited {
    color: white;
}

a:visited:hover {
    color: #ddd;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20em;
    text-align: center;
    background: #333;
    color: white;
    padding: .2em;
    border-radius: 6px;
    border: 2px solid black;

    position: absolute;
    z-index: 1;
    margin: 1em;
    top: -1em;
    left: 80%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
}

.sort {
    cursor: pointer;
}

.button {
    background-color: #777;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1.5px solid #222222;
}

.button:hover {
    background-color: #666;
}